version: '3.8'

services:
  web:
    # Use the internal IPv4 of your Registry VM here
    image: 10.1.9.0:5000/test.danapfel-digital-de:latest
    networks:
      - public-ingress
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        # REPLACE with your actual domain
        - "traefik.http.routers.test.danapfel-digital-de.rule=Host(`test.danapfel-digital.de`)"
        - "traefik.http.routers.test.danapfel-digital-de.entrypoints=websecure"
        - "traefik.http.routers.test.danapfel-digital-de.tls.certresolver=myresolver"
        - "traefik.http.services.test.danapfel-digital-de.loadbalancer.server.port=80"
networks:
  public-ingress:
    external: true