---
interface Props {
  height?: string;
}

const {
  height = '120px'
} = Astro.props;
---

<div class="gradient-transition" style={`height: ${height};`}>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1920 1080"
    preserveAspectRatio="none"
    style="width: 100%; height: 100%;"
  >
    <defs>
      <linearGradient id="hero-to-content-gradient" x1="960" y1="1079.5" x2="960" y2=".5" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#fff"/>
        <stop offset=".14" stop-color="#fbfbfb"/>
        <stop offset=".27" stop-color="#f0f0f0"/>
        <stop offset=".40" stop-color="#ddd"/>
        <stop offset=".52" stop-color="#c3c3c3"/>
        <stop offset=".64" stop-color="#a1a1a1"/>
        <stop offset=".76" stop-color="#787878"/>
        <stop offset=".87" stop-color="#474848"/>
        <stop offset=".98" stop-color="#141515"/>
      </linearGradient>
    </defs>
    <rect fill="url(#hero-to-content-gradient)" x="0" y="0" width="1920" height="1080"/>
  </svg>
</div>

<style>
  .gradient-transition {
    width: 100%;
    margin-top: -1px;
    margin-bottom: -1px;
    line-height: 0;
    overflow: hidden;
  }
</style>

