---
interface Props {
  height?: string;
}

const {
  height = '120px'
} = Astro.props;
---

<div class="gradient-transition" style={`height: ${height};`}>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1920 1080"
    preserveAspectRatio="none"
    style="width: 100%; height: 100%;"
  >
    <defs>
      <linearGradient id="hero-to-content-gradient" x1="960" y1=".5" x2="960" y2="1079.5" gradientTransform="translate(0 1080) scale(1 -1)" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#fff"/>
        <stop offset=".06" stop-color="#dfdfdf"/>
        <stop offset=".18" stop-color="#a9aaaa"/>
        <stop offset=".31" stop-color="#7b7c7c"/>
        <stop offset=".43" stop-color="#565757"/>
        <stop offset=".55" stop-color="#393a3a"/>
        <stop offset=".67" stop-color="#242525"/>
        <stop offset=".78" stop-color="#181919"/>
        <stop offset=".89" stop-color="#141515"/>
      </linearGradient>
    </defs>
    <rect fill="url(#hero-to-content-gradient)" x="0" y="0" width="1920" height="1080"/>
  </svg>
</div>

<style>
  .gradient-transition {
    width: 100%;
    margin-top: -1px;
    margin-bottom: -1px;
    line-height: 0;
    overflow: hidden;
  }
</style>

